<div id="sidebarContainer"><!-- Start Sidebar wrapper -->
		<h1 style="padding-bottom:10px; padding-top:10px"><u>Ads</u></h1>
	<div ><!-- Start sidebar content -->
		<!-- Sidebar header -->
	
		<br>
		<br>
		<table>
			<tr>
				<td>
					<img src="/assets/ad_languages.png" width="100" height="100"/>
					<br>Learn Foreign Languages Online!
					<a href="#">www.bonnlingua.com</a>
					<br>
					<br>
				</td>
			</tr>
			
			<tr>
				<td>
					<img src="/assets/ad_shipping.png" width="100" height="100"/>
					<br>Get the best shipping rates for anywhere in the world.
					<a href="#">www.transocean.com</a>
					<br><br>
				</td>
			</tr>
			
			<tr>
				<td>
					<img src="/assets/ad_jobs.png" width="100" height="100"/>
					<br>Find the best jobs faster!
					<a href="#">www.live.jobcorps.org</a>
					<br><br>
				</td>
			</tr>
		</table>

	</div><!-- End sidebar content -->
</div><!-- End sidebar wrapper -->
<script type="text/javascript">
	var country="<%= params[:country]%>";
	function showDiv(divId)
	{
		d=document.getElementById(divId);
		if(d.style.display=="block")
			d.style.display="none";
		else
			d.style.display="block";	
	}
</script>
		
<!--    Start the content of Immigrate Smart -->
<div id="contentContainer"><!-- Start main content wrapper -->		

			<div id="contents"><!-- Start content -->
				<hr><br /><br />
							<h1 class="countrymap"><%= params[:country]%></h1>
							
							<br /><img class="countrymap" src="/assets/Map_<%= params[:country]%>.jpg" width="400" height="400" alt="countryMap"/>
							<br/>
							<!-- Immigration is the movement of people into another country or region to which they are not native in order to settle there, especially as permanent residents or future citizens.
							<br /><br /><br /></p> -->
							<p style="text-align:center;"><br />
							<b>Area: </b> <%= @criteriaDict['area'] %> km2<br />
							<b>Population: </b> <%= @criteriaDict['population'] %><br />
							<b>GDP per Capita: </b> <%= @criteriaDict['gdp_per_capita'] %><br />
							 <!-- <%= @criteriaDict['average_salary_per_profession'] %><br /> -->
			
			<div id="accordion">
				<h1>Economic Incentives </h1>
				<div>
					<span style="color:#333;">
						<h3>ِAverage Overall Monthly Salary</h3>
						<%= @criteriaDict['average_overall_monthly_salary'] %><br /><br />
					</span>
					<span id="personalSal" style="display:<%if session[:current_user_id] then%>block<% else%>none<%end%>;">
						<h4>Average Salary for your profession ( <%=@profession%> ): <b><%=@personalSal%></b></h4>
					</span>
					<span>
						<iframe src="/salaryprofession.html" width="730" height="550"></iframe>
					</span>
					<span style="color:#333;">
						<h3>ِAverage Income Taxes</h3>
						<%= @criteriaDict['average_income_taxes'] %> %<br />
					</span>
					<span style="color:#333;">
						<h3>Minimum Wage</h3>
						$ <%= @criteriaDict['minimum_wage'].to_i %><br />
					</span>
					<span style="color:#333;">
						<h3>Paid Annual Leave</h3>
						<%= @criteriaDict['paid_annual_leave'] %> days<br />
					</span>
					<span style="color:#333;">
						<h3>Cost of Living</h3>
						<%= @criteriaDict['cost_of_living'] %><br />
						<font size="0.5"><i>
							This index is a relative indicator of consumer goods price, including groceries, restaurants, transportation, utilities and rent. 
							It is relative to New York City (NYC), which means that for New York City, the index should be 100(%). If a country has a CPI 
							index of 120, it means that it is approximately 20% more expensive than New York.
						</i></font>
					</span>
					<span style="color:#333;">
						<h3>Foreign Workers Salaries</h3>
						$ <%= @criteriaDict['foreign_worker_salaries'] %><br />
					</span>
					<span style="color:#333;">
						<h3>Crime Rate</h3>
						<%= @criteriaDict['crime_rate'] %><br />
						<font size="0.5"><i>
							<!-- This index is an estimation of overall level of crime in a given country. Crime Levels up to 50 are reasonable, 
							and crime index levels more than 100 are too high. -->
							<%= @descriptionDict['crime_rate'] %>
						</i></font>
					</span>
				</div>
				<h1>Job Opportunities</h1>
				<div>
					<span style="color:#333;">
						<h3>Unemployment Rate</h3>
						<%= @criteriaDict['unemployment_rate'] %> %<br/><br/>
					</span>
					<span>
						<iframe src="/unemployment.html" width="600" height="350"></iframe>
					</span>
				</div>
				<h1>Immigration Dynamics</h1>
				<div>
					<h2>Shared Visa Experiences</h2>
					<br>
					<center><iframe src="/tinyChart.html"frameBorder="0" width="650" height="230"></iframe>
					</center>
					<table align="center">
						<tr>
							<td><h5>Student Visa Rating:</h5></td>
							<td><span class="stars"><%=@visaRatings['student']%></span></td>
							<td><h5>Work Permit Rating:</h5></td>
							<td><span class="stars"><%=@visaRatings['work']%></span></td>
						</tr>
					</table>
					<%if @comment then %>
						<button class="pure-button" onclick="return showDiv('expaccord');" style="border-radius:3px">
							<i class="fa fa-comments"></i>
							Comments
						</button>
					
					
					<div id="expaccord" name="expaccord" style="display:none; border-width:1px;border-color:lightgrey;border-style:solid; paddind:5px;border-radius: 5px;">
						<table id="commentsTable">
							<% @visaComments.each do |comment| %>
								<tr>
									<td><b>Shared by <u><a href='/home/profile?username=<%=comment['username']%>'style="color:blue"> <%=comment['username']%></a></u> on <%=comment['time']%></b></td>
								</tr>
								<tr style="padding-top:5px;padding-left:5px;">
									<td width="200px" align="left"><%=comment['text']%></td>
								</tr>
							<% end %>
						</table>
					</div>
					<br>
					<%end%>
					<%if session[:current_user_id] then%>
					<button class="pure-button" onclick="return showDiv('shareaccord');"  style="border-radius:3px">
						<i class="fa fa-share-alt"></i>
						<!--http://fortawesome.github.io/Font-Awesome/icons/-->
						Share your Visa Experience!
					</button>
					
					<div id="shareaccord" name="shareaccord" style="display:none; border-width:1px;border-color:lightgrey;border-style:solid; paddind:2px;border-radius: 5px;">
					<script type="text/javascript">
						
						function postAjax()
						{
							setTimeout(document.getElementById('shareMsg').style.display='block', 2000);
							
						    var xmlhttp;
						    if (window.XMLHttpRequest)
						      {// code for IE7+, Firefox, Chrome, Opera, Safari
						      xmlhttp=new XMLHttpRequest();
						      }
						    else
						      {// code for IE6, IE5
						      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
						      }
						    var frm=document.getElementById('visashare');
						    var country=frm.country.value;
						    var username=frm.username.value;
						    var visa_type=frm.visa_type.value;
						    var rating=frm.rating.value;
						    var time=frm.time.value;
						    var documents=frm.documents.value;
						    var visits=frm.visits.value;
						    var comment=frm.comment.value;
							var data="?country="+country+"&username="+username+"&visa_type="+visa_type+"&rating="+rating+"&time="+time+"&documents="+documents+"&visits="+visits+"&comment="+comment;
						    
						    commTbl=document.getElementById('commentsTable');
							
							var currentdate = new Date(); 
							var datetime = currentdate.getFullYear() +  "-"+ ((currentdate.getMonth()+1)<10? "0"+(currentdate.getMonth()+1):(currentdate.getMonth()+1)) + "-"+currentdate.getDate() +" "  
							                + currentdate.getHours() + ":"  
							                + currentdate.getMinutes() + ":" 
							                + currentdate.getSeconds();

							var row1 = commTbl.insertRow(0);
							var cell1= row1.insertCell(0);
							cell1.innerHTML="<b>Shared by <u><a href='/home/profile?username="+username+"' style='color:blue'>"+username+"</a></u> on "+datetime+"</b>";
							var row2 = commTbl.insertRow(1);
							row2.setAttribute("style","padding-top:5px;padding-left:5px;");
							var cell2= row2.insertCell(0);
							cell2.setAttribute("width","200px");
							cell2.setAttribute("align","left");
							cell2.innerHTML=comment;
							
							
						    
						    xmlhttp.open("POST",frm.action+data,false);
						    xmlhttp.send();
						    
						    
						}

					</script>
					
					<form name="visashare" id="visashare" action="http://188.166.59.61:3300/home/sharevisaexperience" method="post">
						<input type="hidden" name="username" id="username" value="<%=session[:current_user_id]%>"/>
						<input type="hidden" name="country" id="country" value="<%= params[:country]%>"/>
						<h3>I applied for: </h3>
						Student Visa
						<input type="radio" name="visa_type" value="student" checked />
						Work Permit
					    <input type="radio" name="visa_type" value="work" />
					    <br>
					    
					    <h3>How do you rate your visa process?</h3>
					    (Hard) 1
						<input type="radio" name="rating" value="1" checked/>
						2
					    <input type="radio" name="rating" value="2" />
					    3
					    <input type="radio" name="rating" value="3" />
						4
					    <input type="radio" name="rating" value="4" />
					    5
					    <input type="radio" name="rating" value="5" />
					    (Easy)<br>
					    <table>
					    	<tr>
					    		<td><h5>How long you took to make an appointment with the Consulate?</h5></td>
					    		<td><select name="time">
								    	<option value="1">Less than 10 days</option>
								    	<option value="2">Between 10 and 30 days</option>
								    	<option value="3">More than 30 days</option>
					    			</select>
					    		</td>
					    	</tr>
					    	<tr>
					    		<td><h5>How many documents apart from the application form you needed to apply?</h5></td>
					    		<td><select name="documents">
								    	<option value="1">Less than 5</option>
								    	<option value="2">Between 5 and 10</option>
								    	<option value="3">More than 10</option>
					    			</select>
					    		</td>
					    	</tr>
					    	<tr>
					    		<td><h5>How many visits you did to the Consulate in order to get your visa in your hands?</h5></td>
					    		<td><select name="visits">
								    	<option value="1">1 or 2</option>
								    	<option value="2">Between 3 and 5</option>
								    	<option value="3">More than 5</option>
					    			</select>
					    		</td>
					    	</tr>
					    	<tr>
					    		<td valign="top"><h5>Comment:</h5></td>
					    		<td> <textarea name="comment" rows="4" cols="50" ></textarea></td>
					    	</tr>
					    </table>
					    <br>
					    <p style="color:green;display:none" id="shareMsg" name="shareMsg">You visa experience was shared!</p>
					    <br>
					    <button class="pure-button" onclick="postAjax()" style="border-radius:2px">
					    	Submit Experience
					    </button>
					</form>
				</div>
				<br>
				<%end%>
				
				</div>
				<h1>Medical Care</h1>
				<div>
					<span style="color:#333;">
							<h3>Health Care system</h3>
							<%= @criteriaDict['health_care_system'] %> %<br />
							
							
					</span>
					<span style="color:#333;">
						<h3>Health Expenditure (percentage of GDP)</h3>
						<%= @criteriaDict['health_care_expenditure'] %> %<br />
					</span>
					<span style="color:#333;">
						<h3>Quality of Health Care System</h3>
						<%= @criteriaDict['quality_of_health_care_system'] %><br />
						<font size="0.5"><i>
							This index is an estimation of the overall quality of the health care system, health care professionals, equipment, staff, 
							doctors, cost, etc. The closer the country's score is to 100, the better the health care system is in that country.
						</i></font>
					</span>
				</div>
				<h1>Education</h1>
				<div>
					<span id="personalLang" style="display:<%if session[:current_user_id] then%>block<% else%>none<%end%>;">
						<h4>People who speak your native language ( <%=@language%> ): <b><%=@personalLang%> %</b></h4>
					</span>
					<span>
						<iframe src="/pie.html" width="600" height="430"></iframe>
					</span>
					<span style="color:#333;">
						<h3>Percentage of English Speakers</h3>
						<%= @criteriaDict['percentage_of_english_speakers'] %> %<br />
					</span>
				</div>
				
			</div> <!-- End Accordion -->

	</div> <!-- End contents -->
</div> <!-- End contentContainer -->
