<div id="sidebarContainer"><!-- Start Sidebar wrapper -->
	<h1 style="padding-bottom:10px; padding-top:10px"><u>Ads</u></h1>
	<div ><!-- Start sidebar content -->
		<!-- Sidebar header -->
	
		<br>
		
		<table>
				<tr>
				<td>
					<img src="/assets/ad_shipping.png" width="100" height="100"/>
					<br>Get the best shipping rates for anywhere in the world.
					<a href="#">www.transocean.com</a>
					<br><br>
				</td>
			</tr>
			
			<tr>
				<td>
					<img src="/assets/ad_jobs.png" width="100" height="100"/>
					<br>Find the best jobs faster!
					<a href="#">www.live.jobcorps.org</a>
					<br><br>
				</td>
			</tr>
		</table>
</div><!-- End sidebar content -->
</div><!-- End sidebar wrapper -->
<div id="contentContainer"><!-- Start main content wrapper -->		
		
<div id="contents"><!-- Start content -->

		
<p><img src="/assets/profile_<%=@user[:gender]%>.png" width="50" height="50" alt="ProfileImage"/> <h1><%=@user[:name]%>'s Profile</h1></p>
<br>

<center style="padding-top:20px;padding-bottom:20px;">
<div style="border-style:solid;border-width:1px; border-color:grey; width:500px;">
  <div align="center" >
<table>
<tr>
<td></td>
<td><strong>Name:</strong></td><td>&nbsp;&nbsp;<%=@user[:name]%></td>
</tr>
<tr>
    <td></td>
<td><strong>Email:</strong></td><td>&nbsp;&nbsp;<%=@user[:email]%></td>
</tr>
<tr>
<td></td>
<td><strong>Gender:</strong></td><td>&nbsp;&nbsp;<%=@user[:gender]%></td>
</tr>
<tr>
<td></td>
<td><strong>Maritial Status:</strong></td><td>&nbsp;&nbsp;<%=@user[:m_status]%></td>
</tr>
<tr>
    <td></td>
<td><strong>Professional Field:</strong></td><td>&nbsp;&nbsp;<%=@user[:profession]%></td>
</tr>
<tr>
    <td></td>
<td><strong>Education Level:</strong></td><td>&nbsp;&nbsp;<%=@user[:education]%></td>
</tr>

<tr>
<td></td>
<td><strong>Country of Origin:</strong></td><td>&nbsp;&nbsp;<%=@user[:origin_country]%></td>
</tr>
<tr>
    <td></td>
<td><strong>Country of Residence:</strong></td><td>&nbsp;&nbsp;<%=@user[:residence_country]%></td>
</tr>
<tr>
    <td></td>
<td><strong>Native Language:</strong></td><td>&nbsp;&nbsp;<%=@user[:native_language]%></td>
</tr>
<tr>
    <td></td>
<td><strong>Other Languages:</strong></td><td>&nbsp;&nbsp;
	<%@user[:other_lang].each do |lang|%>
		<%=lang + ', '%>
	<%end %>
</td>
</tr>

</table>
</div>
</div>
</center>
</div>
</div>