<p><img src="/assets/profile_<%=@gender%>.png" width="50" height="50" alt="ProfileImage"/> <h1><%=@username%>'s Profile</h1></p>
<br>

<center style="padding-top:20px;padding-bottom:20px">
<div style="border-style:solid;border-width:1px; border-color:grey; width:500px;">
  <div align="center" >
<table>
<tr>
<td></td>
<td><strong>Name:</strong></td><td>&nbsp;&nbsp;<%=@name%></td>
</tr>
<tr>
    <td></td>
<td><strong>Email:</strong></td><td>&nbsp;&nbsp;<%=@email%></td>
</tr>
<tr>
<td></td>
<td><strong>Gender:</strong></td><td>&nbsp;&nbsp;<%=@gender%></td>
</tr>
<tr>
<td></td>
<td><strong>Maritial Status:</strong></td><td>&nbsp;&nbsp;<%=@maritial_status%></td>
</tr>
<tr>
    <td></td>
<td><strong>Professional Field:</strong></td><td>&nbsp;&nbsp;<%=@profession_field%></td>
</tr>
<tr>
    <td></td>
<td><strong>Education Level:</strong></td><td>&nbsp;&nbsp;<%=@education_level%></td>
</tr>

<tr>
<td></td>
<td><strong>Country of Origin:</strong></td><td>&nbsp;&nbsp;<%=@origin_country%></td>
</tr>
<tr>
    <td></td>
<td><strong>Country of Residence:</strong></td><td>&nbsp;&nbsp;<%=@residence_country%></td>
</tr>
<tr>
    <td></td>
<td><strong>Native Language:</strong></td><td>&nbsp;&nbsp;<%=@native_language%></td>
</tr>
<tr>
    <td></td>
<td><strong>Other Languages:</strong></td><td>&nbsp;&nbsp;<%=@other_language%></td>
</tr>

</table>
</div>
</div>
</center>