<p><img src="/assets/profile_<%=@user[:gender]%>.png" width="50" height="50" alt="ProfileImage"/> <h1><%=@user[:name]%>'s Profile</h1></p>
<br>

<center style="padding-top:20px;padding-bottom:20px">
<div style="border-style:solid;border-width:1px; border-color:grey; width:500px;">
  <div align="center" >
<table>
<tr>
<td></td>
<td><strong>Name:</strong></td><td>&nbsp;&nbsp;<%=@user[:name]%></td>
</tr>
<tr>
    <td></td>
<td><strong>Email:</strong></td><td>&nbsp;&nbsp;<%=@user[:email]%></td>
</tr>
<tr>
<td></td>
<td><strong>Gender:</strong></td><td>&nbsp;&nbsp;<%=@user[:gender]%></td>
</tr>
<tr>
<td></td>
<td><strong>Maritial Status:</strong></td><td>&nbsp;&nbsp;<%=@user[:m_status]%></td>
</tr>
<tr>
    <td></td>
<td><strong>Professional Field:</strong></td><td>&nbsp;&nbsp;<%=@user[:profession]%></td>
</tr>
<tr>
    <td></td>
<td><strong>Education Level:</strong></td><td>&nbsp;&nbsp;<%=@user[:education]%></td>
</tr>

<tr>
<td></td>
<td><strong>Country of Origin:</strong></td><td>&nbsp;&nbsp;<%=@user[:origin_country]%></td>
</tr>
<tr>
    <td></td>
<td><strong>Country of Residence:</strong></td><td>&nbsp;&nbsp;<%=@user[:residence_country]%></td>
</tr>
<tr>
    <td></td>
<td><strong>Native Language:</strong></td><td>&nbsp;&nbsp;<%=@user[:native_language]%></td>
</tr>
<tr>
    <td></td>
<td><strong>Other Languages:</strong></td><td>&nbsp;&nbsp;<%=@user[:other_lang]%></td>
</tr>

</table>
</div>
</div>
</center>